<div [formGroup]="addressForm">
  <div class="row">
    <mat-form-field class="col full-width">
      <input matInput placeholder="Street" formControlName="street">
      <mat-error *ngIf="addressForm.controls.street.errors">
        {{ addressForm.controls.street.errors['error'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col full-width">
      <input matInput placeholder="Street 2 (unit/apt)" formControlName="street2">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col full-width">
      <input matInput placeholder="City" formControlName="city">
      <mat-error *ngIf="addressForm.controls.city.errors">
        {{ addressForm.controls.city.errors['error'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col full-width">
      <mat-select placeholder="State" formControlName="state">
        <mat-option *ngFor="let state of states" [value]="state.abbreviation" [disabled]="state.disabled">
          {{ state.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addressForm.controls.state.errors">
        {{ addressForm.controls.state.errors['error'] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field class="col mid-width">
        <input matInput placeholder="Postal Code" formControlName="postalCode">
        <mat-error *ngIf="addressForm.controls.postalCode.errors">
          {{ addressForm.controls.postalCode.errors['error'] }}
        </mat-error>
      </mat-form-field>
  </div>
</div>
