.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.material-icons {
  margin-right: 0.2rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list {
  margin-top: 2rem;
}

#content {
  margin: 0.5rem 0 0 0.5rem;
}

#menu-button {
  margin-right: 0.5rem;
}

hr {
  margin: 1rem 1.5rem
}

h2 {
  color: grey;
  font-size: 18px;
  margin-left: 1.2rem;
}

.other .mat-list-item {
  color: grey;
  font-size: 90%;
}
