<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item routerLink="/company"><span class="material-icons">home</span>Company</a>
      <a mat-list-item routerLink="/company-reactive"><span class="material-icons">bolt</span>Company (reactive)</a>
      <a mat-list-item routerLink="/test-address"><span class="material-icons">science</span>Test Address</a>
      <a mat-list-item routerLink="/about"><span class="material-icons">face</span>About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        id="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1>NgConf 2022 Validation</h1>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
