<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <mat-card class="address-card">
    <mat-card-header class="my-header">
      <mat-card-title>Test Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Address" formControlName="address">
            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasAddress2">
        <div class="col">
          <button mat-button type="button" (click)="hasAddress2 = !hasAddress2">
            + Add C/O, Apt, Suite, Unit
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasAddress2">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Address 2" formControlName="address2">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            <mat-error *ngIf="addressForm.controls['postalCode'].hasError('required')">
              Postal Code is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['postalCode'].hasError('minlength')">
              Postal Code must be <strong>five</strong> digits
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
