<div [formGroup]="generalForm">
  <div class="row">
    <mat-form-field class="col full-width">
      <input matInput placeholder="Legal Name" formControlName="legalName" required>
      <mat-error *ngIf="generalForm.controls.legalName.errors">
        {{ generalForm.controls.legalName.errors['error'] }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col mid-width">
      <input matInput placeholder="fein" formControlName="fein" required>
      <mat-error *ngIf="generalForm.controls.fein.errors">
        {{ generalForm.controls.fein.errors['error'] }}
      </mat-error>
    </mat-form-field>
  </div>
</div>
