<form [model]="company" modelType="company" #form="ngForm">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Company (Reactive)</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <app-company-general-form [company]="company"></app-company-general-form>

      <h2>Work Address</h2>

      <app-address-form [address]="company.workAddress" name="workAddress"></app-address-form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="button" (click)="showValidationState(form)">
        Show Validation State
      </button>
    </mat-card-actions>

  </mat-card>
</form>
