@use '@angular/material' as mat;
@include mat.core();

// Light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

// Apply the light theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin: 0.5rem;
}
