@use '@angular/material' as mat;
@include mat.core();

// Light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

// Apply the light theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin: 0.5rem;
}

// Hide the spinner when the input type is 'number'. The spinner is a bad joke.
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.full-width {
  width: 100%;
}

.short-width {
  min-width: 5rem;
  width: 22%;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

input-error {
  .error {
    color: red;
    font-size: 80%
  }
  .pending {
    animation: blink 1s step-start 0s infinite;
    color: blue;
    font-size: 80%
  }
}
